.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 9;
}

.sticky{
  flex-grow: 0;
  position: sticky;
  top: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.title-logo{
  font-size: x-large;
  font-family: 'Amatic SC', cursive;
}

.banner-image {
  background-size: cover;
  height: 500px;
  background-position: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.125);
}
.list-ingredients {
  list-style-type: none;
  margin: 20px;
}

.ingredients-button {
  align-self: center;
  margin-left: auto;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {

  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
 font-size: medium;
  border: 1px solid rgb(230,230,230);
  margin-bottom: 30px;
}
#why{
  font-size: 42px;
}
.site-section{
  text-align: center;
  padding: 50px 0 60px;
  font-family: 'Text Me One', sans-serif;
}
.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;

}
#welcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Text Me One', sans-serif;
}
h1, h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
}
 h5, p {
  font-family: 'Text Me One', sans-serif;
}
h3 {
  font-family: 'Source Code Pro', monospace;
}

#title4 {
  opacity: 0;
}

.card:hover #title4{
  
  color: white;
  text-decoration: none;
  transition: 2s;
  opacity: 100;
}

.star-rating-right{
  position: fixed;
  bottom: 10px;
  /* right: 10px; */
  text-align: end;
}
  i {
    color: darkgoldenrod;
  }
  .small{
    font-size: xx-large;
  }
