.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 9;
}

.sticky{
  flex-grow: 0;
  position: sticky;
  top: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.title-logo{
  font-size: x-large;
}

.banner-image {
  background-size: cover;
  height: 500px;
  background-position: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.125);
}
.list-ingredients {
  list-style-type: none;
  margin: 20px;
}

.ingredients-button {
  align-self: center;
  margin-left: auto;
}